# Google Apps Script Web App URL
# Get this URL after deploying the google-apps-script.js to Google Apps Script
# Instructions:
# 1. Go to https://script.google.com/
# 2. Create new project and paste the code from google-apps-script.js
# 3. Deploy as Web App
# 4. Copy the Web App URL and paste it below
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
